<h2>
    Student-List
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>rollNo</th>
            <th>name</th>
            <th>section</th>
            <th>marks</th>
            <th>mail</th>
            <th>mobileNo</th>
            <th>address</th>
            <th>passing_year</th>
            <th>placed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students">
            <td>{{student.id}}</td>
            <td>{{student.rollNo}}</td>
            <td>{{student.name}}</td>
            <td>{{student.section}}</td>
            <td>{{student.marks}}</td>
            <td>{{student.mailid}}</td>
            <td>{{student.mobileNo}}</td>
            <td>{{student.address}}</td>
            <td>{{student.passing_year}}</td>
            <td>{{student.placed}}</td>
        </tr>
    </tbody>
   
</table>
