<!-- 
<h2>
    Company-List
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Company_Id</th>
            <th>Company_Name</th>
            <th>Company_HrNAme</th>
            <th>Company_HrMail</th>
            <th>Company_HrMobileNo</th>
            <th>Company_placemnt</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let company of companies">
            <td>{{company.companyId}}</td>
            <td>{{company.companyName}}</td>
            <td>{{company.hrName}}</td>
            <td>{{company.hrMail}}</td>
            <td>{{company.hrMobileNo}}</td>
            <td>{{company.placement}}</td>
        -->