<!-- <h2>
    Placement-List
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Placement_Id</th>
            <th>Salary</th>
            <th>Role</th>
            <th>Placed_Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let placement of placements">
            <td>{{placement.placementId}}</td>
            <td>{{placement.salary}</td>
            <td>{{placement.role}}</td>
            <td>{{placement.placedDate}}</td>
        </tr>
    </tbody>
   
</table> -->
