<!-- 
<h2>
    Staff-List
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Staff_Id</th>
            <th>Staff_name</th>
            <th>Staff_role</th>
            <th>Staff_mail</th>
            <th>Staff_mobileNo</th>
            <th>Staff_address</th>
            <th>Student-list</th>
           
    </thead>
    <tbody>
        <tr *ngFor = "let staff of staffs">
            <td>{{staff.staffId}}</td>
            <td>{{staff.name}}</td>
            <td>{{staff.role}}</td>
            <td>{{staff.mail}}</td>
            <td>{{staff.mobileNo}}</td>
            <td>{{staff.address}}</td>
            <td>{{staff.student}}</td>
           
        </tr>
    </tbody>
   
</table> -->